@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --font-display: "Inter", sans-serif;
}

html[data-theme="light"] body {
  min-height: 100vh;
  background: #d9d9d9;
}
html[data-theme="dark"] body {
  min-height: 100vh;
  background: #353535;
}
